.hero {
  background: #665dc3;
  background: url('../../img/Diamond-Sunset.svg');
  padding: 2rem 0;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
    min-height: 45vh;
    .side-a {
      color: #fff;
      h1 {
        margin-bottom: 1rem;
        text-shadow: 1px 1px #444;
        font-weight: 500;
      }
      h2 {
        font-weight: 400;
        font-size: 1.125rem;
        margin-bottom: 2rem;
        text-shadow: 1px 1px #444;
      }
    }
    .side-b {
      display: flex;
      justify-content: flex-end;
      img {
        display: block;
        width: 100%;
        height: 100%;
        max-height: 350px;
        max-width: 500px;
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid #fff;
      }
      video {
        display: block;
        width: 100%;
        height: 100%;
        max-height: 300px;
        max-width: 500px;
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid #fff;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .hero {
    .container {
      grid-template-columns: 1fr;
      .side-b {
        justify-content: center;
        img {
          max-width: 100%;
        }
        video {
          max-width: 100%;
        }
      }
    }
  }

  // Full screen
  .hero.extend {
    min-height: calc(100vh - 50px);
    .container {
      grid-template-columns: 1fr;
      .side-a {
        h1 {
          max-width: 600px;
        }
        h2 {
          max-width: 500px;
        }
      }
      .side-b {
        justify-content: center;
        img {
          max-width: 100%;
        }
      }
    }
  }
}