.cards {
  padding: 4rem 0;
  &.purple-svg {
    background: #665dc3;
    background: url('../../img/Diamond-Sunset.svg');
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 375px);
    grid-gap: 2rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 400px) {
  .cards {
    .container {
      grid-template-columns: repeat(auto-fit, minmax(250px, 375px))
    }
  }
}