.cards {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  &.purple-svg {
    background: #665dc3;
    background: url('../../img/Diamond-Sunset.svg');
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
    .card-wrap {
      display: grid;
      grid-template-columns: repeat(auto-fit, 375px);
      grid-gap: 2rem;
      align-items: center;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 400px) {
  .cards {
    .container {
      grid-template-columns: repeat(auto-fit, minmax(250px, 375px))
    }
  }
}