.sidebar {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 60%;
  background-color: #333;
  z-index: 10;
  transform: translateX(100%);
  transition: transform 300ms ease-in;
  border-left: 3px solid #01cacf;
  max-width: 400px;
  svg {
    position: absolute;
    top: 5%;
    right: 10%;;
    height: 35px;
    width: 35px;
    color: #fff;
    cursor: pointer;
  }
  nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      li {
        padding: 1rem;
        font-size: 1.25rem;
        a {
          color: #fff;
          &:hover {
            color: #01cacf;
          }
        }
      }
    }
  }
  &.open {
    transform: translateX(0);
  }
}